/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

body {
  background: #000000;
  position: relative;
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.center {
  text-align: center;
}

.vertical-center {
  vertical-align: middle
}

.font-regular {
  font-weight: 500;
}

.bold {
  font-weight: 600;
}

.bolder {
  font-weight: 800;
}
